/* Global */

/* SCHRIFTARTEN (Osake, Amanojaku) */
@font-face {
  font-family: "Osake";
  src:
    url("../japan-font/Osake.otf") format("opentype"),
    url("../japan-font/Osake.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amanojaku";
  src: url("../japan-font/amanojaku.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  /* swap */
  font-display: swap;
}

/* 100vh, overflow hidden */
html,
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
  color: #2c3e50;
}

/* Hintergrund aus JS */
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* app Flex */
.app {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* main: Margin-Reset */
main.content {
  margin: 0 !important;
}

/* Tabellen borders in calendar.css */
table {
  border-collapse: collapse;
}

table,
th,
td {
  border: none;
}
